html {
    overflow: hidden;
    height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("concert.jpg");
  background-blend-mode: multiply; 
  overflow: auto;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  padding: 25px;
  font-size: 50px;
  background-color: black;
  color: red;
  text-shadow: -2px -1px 0 gold;
  margin-left: 500px;
  margin-right: 500px;
  border-radius: 10px;
  border: double red;
}

.navbar {
  background-color: black;
  padding: 25px;
  border-top: double red; 
  border-bottom: double red;
}

a:link {
  color: red;
  font-size: 20px;
  text-shadow: -0.5px -1px 0 gold;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: red;
}

a:hover {
  color: lightcoral;
}

.search {
  background-color: goldenrod;
  padding: 25px;
  margin-left: 175px;
  margin-right: 175px;
  border-radius: 10px;
  border: ridge dimgray;
  opacity: 0.9; 
  width: 55%;
}

.event {
  border: ridge dimgray;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 10px;
  background-color: goldenrod;
  opacity: 0.9;
}

.event2 {
  border: ridge dimgray;
  margin-left: 450px;
  margin-right: 450px;
  border-radius: 10px;
  background-color: goldenrod;
  opacity: 0.9;
}

.event3 {
  border: ridge dimgray;
  margin-left: 350px;
  margin-right: 350px;
  border-radius: 10px;
  background-color: goldenrod;
  opacity: 0.9;
}

.event4 {
  border: ridge dimgray;
  margin-left: 550px;
  margin-right: 550px;
  border-radius: 10px;
  background-color: goldenrod;
  opacity: 0.9;
}

h1 {
  color: red;
  text-shadow: -2px -1px 0 black;
}

.img1 {
  width:  250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  border: double dimgray;
}

.img2{
  width:  150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  border: double dimgray;
}

.underline {
  text-decoration: underline;
}

input[type=submit] {
  background-color: dimgray;
  border-radius: 10px;
}

input[type=submit]:hover {
  background-color: silver;
}

button {
  background-color: dimgray;
  border-radius:  10px;
}

button:hover {
  background-color: silver;
}

.red {
  background-color: red;
  border-radius:  10px;
}

.red:hover {
  background-color: lightcoral;
}

*:focus {
  outline: none;
}

.button2 {
  font-size: 10px;
}