.one {
    margin: 0;
    padding: 10px;
    display: grid;
    grid-template-areas: 
      "nav main";
    grid-template-columns: 850px 1fr;
    grid-template-rows: 80px 1fr;
    row-gap: 10px;
    column-gap: 15px;
}

.two {
    grid-area: nav;
 
    text-align: center;
    padding: 10px;
    border-radius: 25px;
}
  
.three {
    grid-area: main;

    padding: 10px;
    border-radius: 25px;
}